html {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

code {
  font-size: 1rem;
  background-color: #f5f2f0;
  padding: 2px;
  border-radius: 2px;
}

pre {
  border-radius: 8px;
}

li {
  margin-bottom: 8px;
}

.self-executing-code-block > pre {
  border-radius: 0;
}

.field-guide-sidenav span {
  padding: 0 1em;
}

.field-guide-socials > a:hover > img {
  filter: invert(80%) sepia(37%) saturate(2816%) hue-rotate(350deg) brightness(95%) contrast(88%);
}

.active .field-guide-toc-item {
  border-color: rgb(230,169,26);
}
